.center{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .image_container{
        margin-top:16vh;
        img{
            width:inherit;
            height:40vw;
        }
    }
    .button_container{
        width:auto;
        .social_button{
            border:1px solid black;
            border-radius:15px;
            .button_fb{
                background-color: #3C5B9A;
            }
            .button_google{
                background-color: #3D82F0;
            }
            .social_icon{
                    width: 40px;
                    padding-left:5px;
            }
            .social_text{
                margin:10px;
                color:white;
                font-weight: 700;
            }
        }
    }